* {
  box-sizing: border-box;
}

.trip-form {
  width: 500px;
  padding: 20px;
  background: #f4f7f8;
  margin: 15px;
  background: #f4f7f8;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  margin: auto;
}

.new-trip:before {
  background-image: url("https://res.cloudinary.com/dlhbuxc82/image/upload/v1622784413/dino-reichmuth-A5rCN8626Ck-unsplash_piqgto.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
}

.new-trip {
  background-color: rgb(181 167 167 / 50%);
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  margin-left: 45rem;
  margin-top: 30px;
  font-weight: bold;
}

.attraction-form {
  border-radius: 10%;
  width: 375px;
  height: 487px;
  padding: 20px;
  background: #f4f7f8;
  margin: 15px;
  background: #f4f7f8;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.trip-form fieldset,
.attraction-form fieldset,
.attraction-edit-card fieldset {
  border: none;
}
.trip-form label,
.attraction-form label,
.attraction-edit-card label {
  display: block;
  margin-bottom: 8px;
}

.trip-form input,
.attraction-form input,
.attraction-form select,
.attraction-edit-card input,
.attraction-edit-card select {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #2a363f;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 22px;
}

.trip-form input:focus,
.attraction-form input:focus,
.attraction-edit-card input:focus {
  background: #d2d9dd;
}
/* .trip-form select {
  -webkit-appearance: menulist-button;
  height: 35px;
} */

.trip-form input[type="submit"],
.attraction-form input[type="submit"],
.attraction-edit-card input[type="submit"] {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  border-radius: 0.5rem;
}
.trip-form input[type="submit"]:hover,
.attraction-form input[type="submit"]:hover,
.attraction-edit-card input[type="submit"]:hover {
  background: #109177;
}

.trip-container,
.attraction-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /* background-color: rgb(249 249 249); */
  padding-bottom: 100px;
  padding-top: 20px;
}

.attraction-container:before {
  background-image: url("https://res.cloudinary.com/dlhbuxc82/image/upload/v1623284189/viviana-rishe-_6cuFnt_qCs-unsplash_slq3ps.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
}

.trip-container:before {
  background-image: url("https://res.cloudinary.com/dlhbuxc82/image/upload/v1623277931/anthony-cantin-ig-lw0Dtz34-unsplash_pn5aw9.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
}

.trip-card img,
.trip-edit-card img {
  object-fit: cover;
  width: 500px;
  height: 333px;
  border-radius: inherit;
}

.attraction-card img,
.attraction-edit-card img {
  width: 332px;
  height: 221px;
  border-radius: 20%;
}

.trip-card,
.trip-edit-card {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  margin-top: 25px;
  background-color: white;
  border-radius: 10px;
  width: 500px;
  height: fit-content;
}

button {
  box-shadow: inset 0px 11px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  border: none;
  padding: 7px 14px;
  text-decoration: none;
  outline: none;
}
button:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}
button:active {
  position: relative;
  top: 1px;
}

.trip-card button:hover {
  background-color: rgb(199, 199, 199);
}

.trip-info {
  padding: 10px;
  margin-left: 7px;
}

.attraction-card,
.add-attraction-card {
  background-color: #86acbb;
  padding: 20px;
  text-align: center;
  margin: 15px;
  border-radius: 10%;
  color: rgb(255, 255, 255);
  width: 375px;
  height: 487px;
}

.add-attraction-card {
  outline: none;
  font-size: 50px;
}

.attraction-edit-card {
  background-color: #86acbb;
  padding: 20px;
  margin: 15px;
  border-radius: 10%;
  color: rgb(27, 21, 21);

  width: 375px;
}

.nav-link {
  width: 100px;
  padding: 12px;
  margin: 0 6px 6px;
  background: rgb(11 110 160);
  text-decoration: none;
  color: white;
  border-radius: 10%;
}

.nav-bar {
  margin-top: 10px;
  padding: 20px;
}

.delete-btn {
  position: relative;
  display: block;
  padding: 5px 10px 5px 10px;
  color: #fff;
  margin: 0 auto;
  background: #db1919;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  font-weight: normal;
}

.delete-btn:hover {
  background: #a32312;
}

.homepage {
  background-color: rgb(181 167 167 / 50%);
  margin: auto auto;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 525px;
}
.homepage:before {
  background-image: url("https://res.cloudinary.com/dlhbuxc82/image/upload/v1622784879/diego-jimenez-A-NVHPka9Rk-unsplash_xwwjuc.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
}
.header-logo {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.homepage input {
  display: block;
  margin: 0px 0px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 75%;
  font-size: 18px;
  font-family: poppins;
}

.login-btn {
  cursor: pointer;
}

.login-btn:hover {
  background-color: rgb(207, 207, 207);
}

.footer {
  color: white;
  text-align: center;
  margin: 20px;
}
